body{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #333;
	font-size: 14px;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

td, th {
  padding: 8px 10px;
  border: 1px solid transparent;
}

thead {
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -o-sticky;
	position: -ms-sticky;
	position: sticky;
	top: 0;
	z-index: 1;
}

th {
	background-color: #f1f1f1;
	background-clip: padding-box;
}

th:hover {
	cursor: pointer;
	text-decoration: underline;
}

th:after {
	content:'';
	position:absolute;
	left: 0;
	bottom: 0;
	width:100%;
	border-bottom: 1px solid #b8b8b8;
}

thead>tr {
	background-color: #ddd !important;
}

tr:nth-child(odd) {
  background-color: white;
}

tr:nth-child(even) {
  background-color: #f1f1f1;
}

tbody>tr>:nth-child(5), tbody>tr>:nth-child(9), tbody>tr>:nth-child(11), tbody>tr>:nth-child(17) {
	border-right: 1px solid #ddd;
}

tbody>tr>:nth-child(2) {
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -o-sticky;
	position: -ms-sticky;
	position: sticky;
	left: 0;
	background: inherit;
	background-clip: padding-box;
}

tbody>tr>:nth-child(7), tbody>tr>:nth-child(9), tbody>tr>:nth-child(13), tbody>tr>:nth-child(15), tbody>tr>:nth-child(17), tbody>tr>:nth-child(19), tbody>tr>:nth-child(21), tbody>tr>:nth-child(23) {
	text-align: center;
	font-size: 10px;
}

a {
	text-decoration: none;
	color: #333;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #333;
}

.yearContainer {
	text-align: center; 
	font-weight: bold; 
	padding-bottom: 8px;
}

.tableContainer {
	display: inline-block;
}

.contentContainer {
	justify-content: center; 
	display: flex;
}

.siteHeader {
	text-align: center;
	display: inline-block;
}

.siteHeader:hover {
	text-decoration: none !important;
}

li {
	margin-bottom: 8px;
}

@media (max-width: 1000px) {
	.tableContainer {
		overflow: scroll; 
		height: 100vh; 
		width: 100vw;
	}
	
	.contentContainer {
		justify-content: center; 
		display: flex;
		flex-direction: column;
	}
}
